.tmp/
.git/
.idea/
.vscode/
docker/
{{ project_name }}/config/
{{ project_name }}/media/
{{ project_name }}/static/
{{ project_name }}/usermedia/
__pycache__

docker-compose*
Dockerfile
*.coffee
*.pyc
.env
celerybeat-schedule