__pycache__/
*.py[cod]

# Directories
.idea
.cache
{{ project_name }}/media/*
{{ project_name }}/static/*

# Sphinx built documentation
docs/_build/
docs/api_docs.md

# Translations
*.mo

# Files
local_settings.py
secret_settings.py
