__pycache__/
*.py[cod]

# Directories
.idea
.cache
{{ project_name }}/media/*
{{ project_name }}/static/*

# Config files except example
{{ project_name }}/config/*.yml
docker/config/{{ project_name }}-docker.yml
!{{ project_name }}/config/example.yml

# Sphinx built documentation
docs/_build/
docs/api_docs.md

# Translations
*.mo
