[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-redis-cache = "*"
django-docker-helpers = "*"
"psycopg2-binary" = "*"
uwsgi = "*"
hiredis = "*"

[dev-packages]

[requires]
python_version = "3.6"
